<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>SpeedyTransfer</title>
        
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link href="/css/speedytransfer.css" rel="stylesheet">
        <script src="/js/fquery.js"></script>
    </head>
    <body id="speedy">
        <header>
            <div class="container headerFlex">
                <div class="logo">
                    <a href="/"><img src="/img/logo.svg" alt="SpeedyTransfer Logo">SpeedyTransfer</a>
                </div>

                <div class="header-links">
                    <% if (user) { %>
                        <span><a class="btn btn-secondary" href="/send" role="button" title="Send a new message">Send</a></span>
                        <span><a href="/dashboard">Dashboard</a></span>
                        <span><a href="/logout">Logout</a></span>
                    <% } else { %>
                        <span><a href="/login">Login</a></span>
                    <% } %>
                </div>
            </div>
        </header>

