<% include includes/header.ejs %>

<div class="container">
    <h2>Messages</h2>
    <div class="messages">
        <% if (messages.length) { %>
            <% messages.forEach(function(message){ %>
                <div class="message">
                    <div class=" message--content material">
                        <a href="/message/<%= message.messageID %>">
                            <%= message.shortContent %>
                        </a>
                    </div>
                </div>
            <% }); %>
        <% } else { %>
            <p>You have no current messages.</p>
        <% } %>
    </div>
</div>

<% include includes/footer.ejs %>