<% include includes/header.ejs %>

<div class="container">
    <h2>Send</h2>
    <form method="post" action="/add">
        <div class="form-group">
            <label for="content" class="sr-only">Message contents</label>
            <textarea class="form-control" id="content" name="content" aria-describedby="contentHelp" placeholder="Message Contents"></textarea>
            <small id="contentHelp" class="form-text text-muted">Messages are deleted after 15 minutes.</small>
        </div>
        <button type="submit" class="btn btn-primary btn-lg" id="submit">Get link</button>
    </form>
</div>

<% include includes/footer.ejs %>