<% include includes/header.ejs %>

<div class="container">
    <h3>Transfer between devices</h3>
    <p>Easily transfer messages between devices.</p>
    <p>You can find the full source code on <a href="https://github.com/K1Z4/SpeedyTransfer">Github</a>.</p>

    <a class="btn btn-primary" href="/dashboard" role="button">Get Started</a>
</div>

<% include includes/footer.ejs %>