<% include includes/header.ejs %>

<div class="container text-center">
    <form method="post" class="login">
        <div class="alert alert-danger" role="alert" id="invalidCredentials" style="display: none">Invalid credentials</div>
        <h2>Login</h2>
        <div class="form-group">
            <label for="inputUsername" class="sr-only">Username</label>
            <input type="text" id="inputUsername" class="form-control" placeholder="Username" name="username" required autofocus>
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="password" minlength="10" required>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
        <p>Dont have an account? <a href="/create-account">Create an account</a></p>
    </form>
    <script>
        if (window.location.search.includes("error")) $('#invalidCredentials').style.display = 'block';
    </script>
</div>

<% include includes/footer.ejs %>
