<% include includes/header.ejs %>

<div class="container">
    <h2>Message</h2>
    <pre id="msgContent"><%= message %></pre>
    <div class="d-flex justify-content-between">
        <button class="btn btn-primary copy" data-clipboard-target="#msgContent">Copy</button>
        <form method="POST" action="/delete" class="d-inline-block">
            <input class="d-none" name="key" value="<%= key %>">
            <button class="btn btn-outline-danger">Delete message</button>
        </form>
    </div>


</div>
<script src="/js/clipboard.min.js"></script>

<% include includes/footer.ejs %>