<% include includes/header.ejs %>

<div class="container">
    <h2>Message</h2>
    <pre id="msgContent"><%= message.content %></pre>
    <p>Sent from: <%= message.sendingDevice %></p>
    <div>
        <button class="btn btn-primary copy" data-clipboard-target="#msgContent">Copy</button>
        <!--<button class="btn btn-primary">Delete</button>-->
    </div>
</div>
<script src="/js/clipboard.min.js"></script>

<% include includes/footer.ejs %>