header {
    background-color: #020202;
    margin-bottom: 15px;
}
header .logo {
    font-size: 24px;
    padding: 20px 0;
}
#speedy header .logo a {
    color: #25B925;
    text-decoration: none;
}
header .logo svg {
    height: 25px;
    position: relative;
    top: -3px;
}

#speedy a {
    color: #02a502;
}

#speedy .btn-secondary {
    color: #ffffff;
    background-color: #25B925;
    border: 0;
}

#speedy .btn-primary {
    color: #ffffff;
    background-color: #020202;
    border: 0;
}

#speedy .btn {
    cursor: pointer;
}

pre {
    background-color: #f3f3f3;
    padding: 5px; 
}

.copy {
    cursor: pointer;
}